<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="assets/style/all.css">
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    
  </head>

  <body>
    <!-- header -->
    <%- include('_header.ejs') %>
    <!-- nav -->
    <%- include('_nav.ejs') %>
    
    <!-- main -->
    <%- contents %>
    <!-- 猜你喜歡 -->
    <%- include('_recommendation.ejs') %>
    <!-- footer -->
    <%- include('_footer.ejs') %>

    <!-- JS -->
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <!-- main nav Swiper -->
    <script>
      var swiper = new Swiper(".mySwiper", {
        slidesPerView: 4,
        spaceBetween: 20,
        breakpoints: {
          768: {
            slidesPerView: 6,
            spaceBetween: 20,
          },
          1024: {
            slidesPerView: 9,
            spaceBetween: 20,
          },
        },
      });
    </script>
    <!-- 猜你喜歡 Swiper-->
    <script>
      var swiper = new Swiper(".recommendation-Swiper", {
        slidesPerView: 3,
        spaceBetween: 24,
        
      });
    </script> 
       
  </body>
  
</html>